*
{
    margin: 0px;
    padding: 00px;
    font-family: sans-serif;
    box-sizing: border-box;
}
body
{
    background-color: #2c3138;
}
.container
{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 26%;
    left: 38%;
    transform: translate(-50% -50%);
    border-radius: 10px;
    background-color: #Fff;

    animation: moveShadow 2s infinite alternate !important; /* Use animation here */
}

.container p
{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.container input
{
    width: 100%;
    height: 50px;
    border: 1px solid #494eea;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}
@keyframes moveShadow {
    0% {
        box-shadow: 10px 0 20px 10px rgba(73, 78, 234, 0.5) !important; /* Blue, right */
    }
    25% {
        box-shadow: 5px 0 20px 10px rgba(234, 78, 73, 0.5); /* Red, slight left */
    }
    50% {
        box-shadow: 0 0 20px 10px rgba(15, 173, 20, 0.5); /* Green, center */
    }
    75% {
        box-shadow: -5px 0 20px 10px rgba(8, 0, 251, 0.5); /* Blue, slight left */
    }
    100% {
        box-shadow: -10px 0 20px 10px rgba(161, 106, 47, 0.5); /* Yellow, left */
    }
}
.container #button1
{
    margin-top: 10px;
}
.container h1
{
    text-align: center;
    padding: 30px;
    color: #494eea;
}
.container button
{
    width: 100%;
    height: 50px;
    background-color: #494eea;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.01);
    cursor: pointer;
    margin: 5px 0;
    font-weight: bolder !important;
}
/*------ media Query ----- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
    .container
    {
        position: absolute;
        top: 20%;
        left: 5%;
        width: 90%;
    }
    .container h1
    {
        font-size: 1.5rem;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container
    {
        position: absolute;
        top: 20%;
        left: 25%;
        /* width: 90%; */
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    .container
    {
        position: absolute;
        top: 20%;
        left: 38%;
        /* width: 90%; */
    }
}